# Copia este archivo como .env y completa tus datos locales.
# NO subas el archivo .env real a GitHub.

SECRET_KEY=pon_aqui_una_clave_local
DATABASE_URL=postgresql+psycopg2://postgres:TU_PASSWORD@localhost:5432/bibliotec_db

# Se usará más adelante para el correo de confirmación.
EMAIL_USER=
EMAIL_PASSWORD=
