SECRET_KEY=cambia-esta-clave-en-tu-env-local

DB_HOST=localhost
DB_PORT=5432
DB_NAME=bibliotec_db
DB_USER=postgres
DB_PASSWORD=Queguaposoyyo19

# Correo SMTP - Gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=carlosalexanderlopezponce124@gmail.com
EMAIL_PASSWORD=rlsz lhqg jkyw zjfp
EMAIL_FROM_NAME=BiblioTEC
